<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/Insert" method="post">

        <input id="email" name="email" type="text" />
        <input id="Text2" name="txtvalue2" type="text" />
        
        <input id="Submit1" type="submit" value="submit" />
        <!--<input id="Delete" type="submit" value="Delete" />-->

    </form>
    <form action="/Update" method="post">

        <input id="Textdata" name="txtData" type="text" />
        <input id="Textdata2" name="txtData2" type="text" />
        <input id="Textdata3" name="txtData3" type="text" />
        <input id="Submitdata" type="submit" value="submit" />
        <!--<input id="Delete" type="submit" value="Delete" />-->

    </form>
</body>
</html>